svg {
  position: absolute;
  top: 20px;
  left: 50%;
  right: 50%;
  z-index: 1;

  transform: translateX(-50%);
}

body {
  background-color: rgb(158, 188, 216);
}
.controls {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  margin-top: 50px;
}

.card-body {
  padding-top: 600px;
  position: relative;
}

.card {
  box-shadow: 0px 0px 30px -5px rgba(5, 8, 46, 0.431);
}
button {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 50px 0px rgba(5, 8, 46, 0.431);
}
p {
  font-size: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 232.5px;
  z-index: 2;
}
h1,
h4 {
  text-align: center;
}

input {
  z-index: 2;
  -webkit-margin-start: 10px;
  margin-inline: 8px;
}

.form-control {
  width: 20%;
  text-align: center;
}

#inner-circle {
  transition: all 0.5s ease;
}
